@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.policies{
    padding-left: 10%;
    padding-right: 10%;
    font-family: Neuton;
    font-size:x-large;

}
.policy_tag{
    text-align:center;
    font-family: Neuton;
    font-weight: bolder;
}
.instst{
   font-family: Tajawal;
   font-size: 20px;
   font-weight: 400;
}   
.instruction_list{
      font-family: Tajawal;
   font-size: 20px;
   font-weight: 400;
}
.instruction{
      font-family: Tajawal;
   font-size: 20px;
   font-weight: bold;
}