
.afternav{
    height:auto;
    width: auto;
    background-color:#303b3f;
    color: white;
    padding: 1px;
}

.afternavul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.bground:hover{
  text-decoration: underline;
  color: rgb(194, 9, 9);
}

  
  .dropdown1 .dropbtn {
    font-size: 15px;  
    border: none;
    outline: none;
    color:white;
    padding: 4px 4px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
   
 
  
  .dropdown-content1 {
    display: none;
    position:absolute;
    right: -200px;
    background-color:white;
    width:auto;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  
  .dropdown1:hover >.dropdown-content1 {
    display: block;
  }
  .dropbtn:hover >.dropdown-content1{
    display: block;
  }
  
 

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .shopcategory ul li:hover{
            background-color: rgb(212, 84, 24);
            color: white;
            border-radius: 5px;
            padding: 3px;
  }


  
  .blink_me 
    {
    color: rgb(223, 28, 28);
    text-shadow: 0 0 8px rgb(255, 0, 0);
    animation: blinker 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
      color: red;
      transition: 1s ease-in-out;
    }
  }

  .padding{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 2px;
  }
@media screen and (max-width:970px){
  .afternavul{
    display: none;
    position: fixed;
    font-size: 20px;
    height: 100vh;
    width:100%;
    max-width: 350px;
    background:#242526;
    display: block;
    top: 0;
    left: 0;
    
    line-height: 50px;
    padding: 50px 10px;
    box-shadow: 0 15ox 15px rgba(0,0,0,0,.15);
  }
  .afternavul li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
}



.menu-btn{
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  right: 100px;
  color: white;
  display:none;
}
.cancel-btn{
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 10px;
  display: none;
  color: white;
}
@media screen and (max-width:970px){
  .afternavul{
    display: none;
    position: fixed;
    font-size: 20px;
    height: 100vh;
    width:100%;
    max-width: 350px;
    background:#242526;
    display: block;
    top: 0;
    left: 0;
    
    line-height: 50px;
    padding: 50px 10px;
    box-shadow: 0 15ox 15px rgba(0,0,0,0,.15);
  }
  .afternavul li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
}
@media screen and (max-width:970px){
  .cancel-btn{
    display: block;
  }
  .afternavul{
    display: none;
    position: fixed;
    font-size: 20px;
    height: 100vh;
    width:100%;
    max-width: 350px;
    background:#242526;
    display: block;
    top: 0;
    left: -100%;
    
    line-height: 50px;
    padding: 50px 10px;
    box-shadow: 0 15ox 15px rgba(0,0,0,0,.15);
  }
  .afternavul li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
}

#menu-btn:checked ~ .afternavul{
left:0%
}
.afternavul::-webkit-scrollbar{
  width: 0px;
}
/* #cancel-btn:checked ~ .afternavul{
  left:0%
  } */
/* @media screen and (min-width:970px){
  .menu-btn{
    display: none;
  }
  .cancel-btn{
    display: none;
  }
} */