.myaccount{
    padding-left: 5%;
    padding-right: 5%;
    
}
.login{
    background-color: #F7F7F7;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 17%;
    margin-left:2%;
    margin-right:2%;
}
.register{
    background-color: #F7F7F7;
    padding-left: 10%;
    margin-left:2%;
    margin-right:2%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 9%;
}
.note{
   
    font-family: Tajawal;
    
}