.card-img-top{
    width: 200 !important;
}
.div{
    width: 240;
    height:265;
}
.product_name{
    
    white-space: normal;
    min-height: 40px;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #212529  !important;
    text-decoration: none;
}
.homeproductimg {
    padding-left: 12%;
    padding-right: 12%;
}
.icons{padding-left:10%;
       padding-bottom:1%;}
/* .card{
    box-shadow:  0 0 5px #333333;
} */