@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,300;1,400&display=swap');.term{
    text-align: center;
    font-family: Neuton;
    font-weight: bolder;

}
.terms{
    padding-left: 10%;
    padding-right: 10%;
}
.termsheading{
    font-weight: bold;
    font-size: 30px;
    /* font-size: x-large; */
    font-family: Neuton;
}
.copyright_heading{
    font-weight: bold;
    font-size: 28px;

     font-family: Neuton;
}
.eligibility_heading{
    font-weight: bold;
    font-size: 28px;
     font-family: Neuton;
}
.accuracy_heading{
    font-weight: bold;
    font-size: 28px;
     font-family: Neuton;
}
.payment_heading{
    font-weight: bold;
    font-size: x-large;
     font-family: Neuton;
}
.career_contact{
    font-weight: bold;
    font-size: 28px;
     font-family: Neuton;
}
.des{
    font-family: Tajawal;
     font-size: 20px;
     font-weight: 400;
}
.descpara{
    font-family: Tajawal;
     font-size: 20px;
    font-weight: 400;
}
.copyright_text{
    font-family: Tajawal;
     font-size: 20px;
    font-weight: 400;
}
.eligibility{
    font-family: Tajawal;
    font-size: 20px;
    font-weight: 400;
}
.accuracy{
    font-family: Tajawal;
     font-size: 20px;
    font-weight: 400;
}
.payment{
    font-family: Tajawal;
     font-size: 20px;
    font-weight: 400;
}
.ceo{
    font-family: Tajawal;
     font-size: 20px;
    font-weight: 400;
}