.list li{
    font-weight: 400px;
    font-size: 19px;
    line-height: 30px;
    
}
.thumbnail{
    width:100%;
    height: 100px;
    display: flex;
    cursor:pointer;
    margin: 10px 0;
}
.thumbnail img{
    width: 90px;
    height: 100%;
    display: block;
    /* object-fit: cover; */
    border: 1px solid #ddd;
    margin-right: 5px;
    opacity: 0.7;
    border-radius:  5px;
    transition: 0.5s linear;
}
.thumbnail img.active{
    opacity: 1;
    border: 1px solid lightseagreen;
}
.chose{
    max-height: 100px;
    max-width: 100px;
    height: 40px;
    width: 180px;
    background: white;
    /* box-shadow: 0 0 0 2px rgb(0 0 0 / 90%); */
    border-radius: 5px;
    /* border-color: black; */

}
/* @media (max-width: 705px){
    .thumbnail{
        height: 10px;
    }
    .thumbnail img{
        width:50px;
    }
} */
@media (max-width: 938px){
    .thumbnail{
        height: 68px;
    }
    .thumbnail img{
        width:68px;
    }
}