.products{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
    margin: 15px 0;
}
.products .cards{
    max-width:300px;
    width: 100%;
    overflow: hidden;
    height: 500px;
    /* box-shadow:  0 0 5px #ccc; */
    padding: 15px;
    margin: 15px 0;
    cursor: pointer;
}
.cards img{
    width: 100%;
    height: 100%;
    max-height: 300px;
    display: block;
    object-fit: cover;
}
/* .cards .box{
    margin: 15px 0;
} */
.cards .box h3{
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cards .box button{
    width: 100%;
    border: none;
    outline: none;
    background: black;
    color: white;
    text-align: center;
    padding:10px 0;
    margin: 10px 0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.productname{
    text-align: center;
}
/* .row .li{
    direction: none;
} */
.image{
    width: 100%;
    object-position: center;
}