/* .accordion{
    width:500px;
}
.item{
    background: #dddd;
    margin-bottom: 5px;
    padding:10px 20px;
}
.title{
    color:#85662b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content{
    color:#85662b;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1)
}
.content.show{
    height: auto;
    max-height: 9999;
    transition: all 0.5s cubic-bezier(0,1,0,1)

} */