.owl-nav button{
    border: none !important;
    outline: none !important;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    color: black  !important;
    font-size: 60px !important;
    font-weight: bolder !important;
}
.owl-prev{

    left:0.5%;

}
.owl-next{
    left: 98%;
}

 .owl-nav{
    background-color: blue;
} 

/* .proteins{
    text-align: left;
    padding-right: 67%;
    font-weight: 400;
    font-size: 37px;
} */
/* @media (max-width: 938px){
    .proteins{
        font-size: 20px;
    

    }
    .thumbnail img{
        width:68px;

    }
} */
