.check{
    text-align: center;
    font-size:40px;
    font-weight: bold;
    font-family: Neuton;
   padding-top: 2%;
   padding-bottom: 2%;
   color: rgb(39, 38, 38);
    
}
.steps{
    font-size:20px;
    font-family: Tajawal;
    color: #333;
}
.auth_steps{
    padding-left: 5%;
    padding-right: 5%;
    
}
.step_one{
    font-family: Neuton;
    color: #333;
    font-size:30px;
    font-weight: 900;
}