@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.why_choose_us{
    text-align: center;
    text-transform:uppercase ;
    color:#000000;
}
.why_choose{
    text-align: center;
    text-transform:uppercase ;
    color: #333333;
}
.why_chose_gxn{
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;
    word-spacing: 1px;
    /* text-transform:capitalize ; */
    color: #333333;
}
.image_para{
   
    /* font-family: "Montserrat";  */
    /* font: normal bolder 15px / 27px "Montserrat", Helvetica, Arial, Verdana, sans-serif; */
    word-spacing: normal;
    color: #616161
}
.image_para{
    font-size: 18px;
    font-weight: 750;
    padding-top: 22px;
}
